.header{
    width: 1200px;
    height: 91px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.logo{
    width: 133px;
    height: 33px;
    cursor: pointer;
}

.disney{
    width: 340px;
    height: 43px;
}