.questions {
  margin-left: 50px;
  width: 718px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 0;
}

.title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 24px;
}

.questionsubtitle {
  margin-top: 40px;
}

.subtitle {
  font-weight: 600;
  padding-bottom: 8px;
  font-size: 18px;
  color: var(--text1);
}

.list {
  display: flex;
  list-style: none;
  margin-top: 12px;
}

.list li {
  margin-right: 12px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--blue-btn2);
  color: var(--blue-btn1);
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  cursor: pointer;
}

.qa {
  margin-top: 40px;
}

.makequestion {
  font-size: 18px;
  font-weight: 600;
}

.form {
  margin-top: 16px;
  width: 718px;
  height: 48px;
}

.form input {
  height: 100%;
  font-family: var(--family);
}

.text {
  width: 549px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 300;
  padding: 15px 12px 13px 16px;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  color: var(--text1);
}

.text:focus-visible {
  outline: none;
  border: 2px solid var(--blue-btn1);
}

.button {
  width: 152px;
  border-radius: 6px;
  margin-left: 16px;
  background-color: var(--blue-btn1);
  color: var(--white);
  border-color: transparent;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue);
}
