.container {
  width: 100%;
  height: 100px;
  background-color: var(--bkg-yellow);
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}

.wrapper {
  /* width: 87%; */
  width: 1183px;
  margin: 0 auto;
  /* background-color: var(--white); */
}
